<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/style.css">
    <title>Consultation des demandes</title>
</head>

<body>
    <h1>La liste des demandes de permutations : </h1>

    <ul>
        <% for (let dem of demande ) { %>
        <%=dem.nom %> <br>
        <%=dem.prenom %> <br>
        <%=dem.matricule %> <br>
        <%=dem.email %> <br>
        <%=dem.groupeA %> <br>
        <%=dem.groupeV %> <br>
        <hr>
        <%}%>
    </ul>

</body>